<p>Phrase: <strong><%= @phrase %></strong></p>
<p>Response: <strong><%= @entry_response %></strong></p>
<a href='/entries/<%= params[:id] %>/edit'>Edit Entry</a>
<p>Notes: </p>

<ul>
  <% @notes.each_with_index do |note, index| %>
    <li><%= note %></li>
    <a href='/entries/<%= params[:id] %>/notes/<%= index %>/edit'>Edit Note</a>
  <% end %>
</ul>

<form action="/entries/<%= params[:id] %>/notes" method="post">
  <dl>
    <dt>
      <label for="note">--------Add note
      </label>
    </dt>
    <dd>
      <input name="note" value="">
    </dd>
  </dl>
  <fieldset>
    <input type="submit" value="Add Note">
  </fieldset>
</form>

<a href="/entries">home</a>