<p style="font-size:20px; color:#538b01; font-weight:bold; font-style:italic;"><%= session.delete(:success) %></p>


<p>Phrase: <strong><%= @phrase %></strong></p>
<p>Response: <strong><%= @entry_response %></strong></p>
<a href='/entries/<%= params[:id] %>/edit'>Edit Entry</a>
<p><strong>Notes: </strong></p>
  <div class="notecard-container">
    <% @notes.each do |note| %>
      <% note_index = note[:id] %>
      <div class="notecard">
        <%= note[:content] %>
        <a href='/entries/<%= params[:id] %>/notes/<%= note_index %>/edit'>Edit Note</a>
          <form action="/entries/<%= params[:id] %>/notes/<%= note_index %>/destroy" method="post">
        <button type="submit">Delete Note</button>
        <p>Created at: <%= note[:time][0..15] %></p>
          </form>
          <% end %>
      </div>
  </div>

<form action="/entries/<%= params[:id] %>/notes" method="post">
  <dl>
    <dt>
      <label for="note">--------Add note
      </label>
    </dt>
    <dd>
      <input name="note" value="<%= params[:note] %>">
    </dd>
  </dl>
  <fieldset>
    <input type="submit" value="Add Note">
  </fieldset>
</form>

<a href="/entries_page/0">home</a>