<% session.delete(:success) %>



<a href='/entries/add'>Add Entry</a>
<h2>Your Entries:</h2>
<hr style="width:100%", size="3", color=black>

<% @nested_array[@page_id].each.with_index do |entry, index| %>
  <p>Phrase: <strong><%= entry[:phrase] %></strong></p>
  <p>Response: <strong><%= entry[:response] %></strong></p>
  <p>Note Count: <strong><%= count_notes(index) %></strong></p>
  
  <a href="/entries/<%= index + (@page_id * 5) %>">Edit/View</a><br>

  <form action="/entries/<%= index %>/destroy" method="post">
    <button type="submit"">Delete Entry</button>
  </form>

  <br>
  <hr style="width:100%", size="3", color=black>
<% end %>

<% (page_count).times do |num|%>
  <a href=<%= "/entries_page/#{num}" %>><%= num %></a>
<% end %>