<p>This your personal phrasebook for recording responses to your favorite phrases! Use Add Entry to add a phrase/response pair, and click Edit/View to view your notes on that particular phrase</p>
<p style="display: inline;">Pages:</p>
<% (page_count).times do |num|%>
  <a href=<%= "/entries_page/#{num}" %>><%= num + 1%></a>
<% end %>
<p><a href='/entries/add'>Add Entry</a></p>
<h2>Your Entries on Page <%= @page_id + 1 %>:</h2>
<hr style="width:100%", size="3", color=black>

<% @nested_array[@page_id].each do |entry| %>
  <% entry_index = entry[:id].to_i %>
  <p><strong>Phrase: </strong><%= entry[:phrase] %></p>
  <p><strong>Response: </strong><%= entry[:response] %></p>
  <hr align="left", style="width:50%", size="1", color=lightgrey>
  <p><strong>Note Count: </strong><%= count_notes(entry_index) %></p>
  <p>Created at: <%= entry[:time][0..15] %> </p>
  
  <a href="/entries/<%= entry_index %>">Edit/View</a><br>

  <form action="/entries/<%= entry_index %>/destroy" method="post">
    <button type="submit"">Delete Entry</button>
  </form>

  <br>
  <hr style="width:100%", size="3", color=black>
<% end %>

<p style="display: inline;">Pages:</p>
<% (page_count).times do |num|%>
  <a href=<%= "/entries_page/#{num}" %>><%= num + 1%></a>
<% end %>

